{% extends "HomeBase.html"%}
{% load static %}
    {% block title %}
    change password 
    {% endblock %}
    
    {% block styling %}
    <link rel = "stylesheet" href = "{% static "changePassword.css"%}"/>
    {% endblock %}
    
    {% block content %}
    <div class="card">
      <h4 class="text-center mb-4">Change Password</h4>
      <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <label for="oldPassword" class="form-label">Old Password</label>
          <input
            type="password"
            name = "oldPassword"
            class="form-control"
            id="oldPassword"
            name="oldPassword"
            required
          />
        </div>

        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input
            type="password"
            name = "newPassword"
            class="form-control"
            id="newPassword"
            name="newPassword"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
    {% endblock %}