{% extends "UserBase.html" %}

{% block title %} Login {% endblock %}
{% block bodyClass %} login-page bg-body-secondary {% endblock %}
{% block content%}
    <div class="login-box">
      <div class="login-logo">
        <a href="../index2.html">Student Login</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign in to start your session</p>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger" style = "color: #721c24;
               background-color: #f8d7da;
               border: 1px solid #f5c6cb;
               padding: 10px;
               margin-bottom: 10px;
               border-radius: 4px;
               font-weight: bold;">{{ message }}</div>
            {% endfor %}
          {% endif %}
          <form method="post" >
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="email" name = "email" class="form-control" placeholder="Email" />
              <div class="input-group-text">
                <span class="bi bi-envelope"></span>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                name = "password"
                class="form-control"
                placeholder="Password"
              />
              <div class="input-group-text">
                <span class="bi bi-lock-fill"></span>
              </div>
            </div>
            <!--begin::Row-->
            <div class="row" style = "display: flex; justify-content:center; margin-bottom:15px;">
              <div class="col-4" >
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!--end::Row-->
          </form>
          <p class="mb-1">
            <a href="{% url "forgot password"%}">forgot password</a>
          </p>
          <p class="mb-0">
            <a href="{% url "student registration"%}" class="text-center">
              New Student?
            </a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    {% endblock %}
